* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0; }

ul, ol {
  padding-left: 10px; }
  ul li, ol li {
    transition: 0.2s ease; }
    ul li:hover, ol li:hover {
      margin-left: 0.5rem; }

a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.2s ease;
  border-radius: 2px; }
  a:hover {
    background-color: #000;
    color: #fff; }

.App {
  min-height: 100vh;
  background-color: white; }

.grid-container {
  opacity: 0;
  transition: 0.2s ease; }

.lists-grid {
  display: grid;
  grid-template-columns: minmax(50%, auto) minmax(50%, auto);
  align-items: flex-start; }

@media only screen and (min-width: 560px) {
  .lists-grid {
    grid-template-columns: minmax(25%, auto) minmax(25%, auto); } }
@media only screen and (min-width: 960px) {
  .lists-grid {
    grid-template-columns: minmax(25%, auto) minmax(25%, auto) minmax(25%, auto) minmax(25%, auto); } }
.sublists-grid {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; }

.sublist-controls {
  padding: 25px; }

.lists-grid a {
  padding: 0px; }
  .lists-grid a:hover {
    background-color: transparent; }
.lists-grid__item, .lists-grid__item--add {
  cursor: pointer;
  border: 1px solid transparent;
  background: #eee;
  box-shadow: 0 0 1px 0 #000;
  margin: 5px 5px;
  color: #000 !important;
  word-wrap: break-word;
  word-break: break-all;
  transition: 0.2s ease; }
  .lists-grid__item a, .lists-grid__item--add a {
    display: block;
    padding: 10px 10px;
    color: #000; }
    .lists-grid__item a:hover, .lists-grid__item--add a:hover {
      background-color: transparent; }
  .lists-grid__item:hover, .lists-grid__item--add:hover {
    background: #ccc;
    border: 1px solid #0064a0; }
  .lists-grid__item__remove-button {
    display: inline-block; }
    .lists-grid__item__remove-button:before {
      content: "X";
      padding: 10px 15px;
      margin: 0 auto;
      transition: 0.2s ease;
      float: right; }
    .lists-grid__item__remove-button:hover:before {
      background-color: #000;
      color: #fff; }
  .lists-grid__item__title {
    text-align: center;
    padding: 10px;
    border: 1px dashed #000;
    text-transform: uppercase; }
  .lists-grid__item--add {
    display: flex;
    justify-content: center;
    line-height: normal;
    color: #000; }
    .lists-grid__item--add:after {
      content: "+";
      font-size: 250px; }
  .lists-grid__item__tasks__item {
    text-align: left;
    margin: 0px;
    padding: 5px; }

.list {
  transition: 0.2s ease;
  opacity: 0; }
  .list__panel-container {
    margin: 0 auto;
    max-width: 960px;
    text-align: right; }
  .list__title {
    text-align: center; }
  .list__delete-button {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    background-color: #a73030;
    color: #fff;
    border: none;
    border-radius: 2px;
    transition: 0.2s ease; }
    .list__delete-button:hover {
      background-color: #8b2828; }
  .list__title input {
    display: block;
    font-size: 24px !important;
    border: 1px solid transparent !important;
    border-radius: 0px !important;
    padding: 2px 10px !important;
    transition: 0.2s ease;
    font-weight: bold; }
    .list__title input:hover, .list__title input:focus {
      border-bottom: 1px solid #a73030 !important; }

.list__task, .list__task--is-checked {
  cursor: pointer;
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-left: 2px solid #7c2424;
  border-right: 2px solid #7c2424; }
  .list__task:hover, .list__task--is-checked:hover {
    background-color: #c8c8c8;
    border-left: 2px solid green; }
  .list__task-controls {
    text-align: right; }
  .list__task-content {
    display: grid;
    grid-template-columns: 1fr 1fr; }
  .list__task--is-editable {
    border: 1px solid #7c2424;
    box-shadow: none; }
  .list__task--is-checked {
    background-color: #a73030;
    color: #fff; }
    .list__task--is-checked:hover {
      background-color: #7c2424;
      color: #fff; }
    .list__task--is-checked .list__task__caption {
      word-wrap: wrap;
      word-break: break-all;
      text-decoration: line-through; }

/* FADE */
.fade-enter {
  opacity: 0.01; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in; }

/* ZOOM */
.zoom-enter {
  transform: scale(0.1); }

.zoom-enter-active {
  transform: scale(1);
  transition: 500ms ease-in; }

.zoom-exit {
  transform: scale(1); }

.zoom-exit-active {
  transform: scale(0.1);
  transition: 500ms ease-in; }

/* COLLAPSE */
.collapse-enter {
  transform: scaleY(0);
  transform-origin: top; }

.collapse-enter-active {
  transform: scaleY(1);
  transition: 500ms ease; }

.collapse-exit {
  transform-origin: top;
  transform: scaleY(1); }

.collapse-exit-active {
  transform: scaleY(0);
  transition: 500ms ease; }

/* COLLAPSE1 */
.collapse1-enter {
  max-height: 0; }

.collapse1-enter-active {
  max-height: 300px;
  transition: 500ms ease; }

.collapse1-exit {
  max-height: 300px;
  transform: scaleY(1); }

.collapse1-exit-active {
  max-height: 0;
  overflow: hidden;
  transition: 500ms ease; }

/*# sourceMappingURL=index.css.map */
