* {
  box-sizing: border-box; }

html {
  overflow-y: scroll !important; }

body {
  margin: 0;
  padding: 0; }

ul, ol {
  padding-left: 10px; }
  ul li, ol li {
    transition: 0.2s ease; }
    ul li:hover, ol li:hover {
      margin-left: 0.5rem; }

a {
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
  transition: 0.2s ease;
  border-radius: 2px; }
  a:hover {
    background-color: #000;
    color: #fff; }

.App {
  min-height: 100vh;
  background-color: white; }

.ui.menu {
  border-radius: 0px; }

.grid-container {
  display: grid;
  grid-template-columns: minmax(50%, auto) minmax(50%, auto);
  align-items: flex-start;
  opacity: 0;
  transition: 0.2s ease; }

.sublist-container {
  padding-top: 25px;
  box-shadow: 0 0 2px 1px #eee; }

.sublists-grid {
  padding: 25px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start; }

.sublist-controls {
  padding: 25px; }

.task-form__grid {
  display: grid !important;
  grid-template: auto auto auto auto/minmax(35%, 50%) minmax(35%, 50%);
  align-items: center;
  justify-content: center;
  grid-gap: 10px; }

.list {
  transition: 0.2s ease;
  opacity: 0; }

.lists-grid__item, .lists-grid__item--add {
  cursor: pointer;
  border: 1px solid transparent;
  background: #eee;
  box-shadow: 0 0 1px 0 #000;
  margin: 5px 5px;
  word-wrap: break-word;
  word-break: break-all;
  transition: 0.2s ease; }
  .lists-grid__item a, .lists-grid__item--add a {
    display: block;
    padding: 10px 10px;
    color: #000; }
    .lists-grid__item a:hover, .lists-grid__item--add a:hover {
      background-color: transparent;
      text-decoration: none; }
  .lists-grid__item:hover, .lists-grid__item--add:hover {
    background: #ccc;
    border: 1px solid #0064a0; }
  .lists-grid__item__title {
    text-align: center;
    padding: 25px;
    text-transform: uppercase;
    color: #434; }
  .lists-grid__item--add {
    display: flex;
    justify-content: center;
    line-height: normal;
    color: #000; }
    .lists-grid__item--add:after {
      content: "+";
      font-size: 250px; }
  .lists-grid__item__tasks__item {
    text-align: left;
    margin: 0px;
    padding: 5px; }

.list__title {
  text-align: center; }
.list__title input {
  display: block;
  font-size: 24px !important;
  border: 1px solid transparent !important;
  border-radius: 0px !important;
  padding: 2px 10px !important;
  font-weight: bold; }
  .list__title input:hover, .list__title input:focus {
    border-bottom: 1px solid #db2828 !important; }

.list__task, .list__task--is-checked {
  cursor: pointer;
  padding: 15px 20px;
  box-sizing: border-box;
  background-color: #fff;
  border-left: 2px solid #7c2424;
  border-right: 2px solid #7c2424; }
  .list__task-controls {
    text-align: right; }
  .list__task-content {
    display: grid;
    grid-template-columns: 50% 50%; }
  .list__task__dates {
    margin: 0px; }

/* FADE */
.fade-enter {
  opacity: 0.01; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.fade-exit {
  opacity: 1; }

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in; }

/* ZOOM */
.zoom-enter {
  transform: scale(0.1); }

.zoom-enter-active {
  transform: scale(1);
  transition: 500ms ease-in; }

.zoom-exit {
  transform: scale(1); }

.zoom-exit-active {
  transform: scale(0.1);
  transition: 500ms ease-in; }

/* COLLAPSE */
.collapse-enter {
  transform: scaleY(0);
  transform-origin: top; }

.collapse-enter-active {
  transform: scaleY(1);
  transition: 500ms ease; }

.collapse-exit {
  transform-origin: top;
  transform: scaleY(1); }

.collapse-exit-active {
  transform: scaleY(0);
  transition: 500ms ease; }

/* COLLAPSE1 */
.collapse1-enter {
  max-height: 0;
  overflow: hidden; }

.collapse1-enter-active {
  max-height: 300px;
  transition: 500ms ease; }

.collapse1-exit {
  max-height: 300px; }

.collapse1-exit-active {
  max-height: 0 !important;
  overflow: hidden;
  transition: 500ms ease; }

@media only screen and (max-width: 620px) {
  .task-form__grid {
    grid-gap: 5px;
    grid-template: auto auto auto auto/50% 50%; } }
@media only screen and (max-width: 480px) {
  .task-form__grid {
    grid-template-columns: 100%; } }
.list__task:hover, .list__task--is-checked:hover {
  background-color: #d9d9d9;
  border-left: 2px solid teal;
  border-right: 2px solid teal; }
.list__task--is-editable {
  box-shadow: none; }
.list__task--is-checked {
  background-color: #db2828;
  color: #fff; }
  .list__task--is-checked:hover {
    background-color: #9c1a1a;
    color: #fff; }
  .list__task--is-checked .list__task__caption {
    word-wrap: wrap;
    word-break: break-all;
    text-decoration: line-through; }

@media only screen and (max-width: 560px) {
  .list__task, .list__task--is-checked {
    padding: 5px 10px; } }
@media only screen and (min-width: 960px) {
  .grid-container {
    grid-template-columns: minmax(25%, auto) minmax(25%, auto) minmax(25%, auto) minmax(25%, auto); } }
@media only screen and (max-width: 560px) {
  .sublists-grid {
    padding: 10px;
    margin-top: 35px; }

  .sublist-controls {
    padding: 5px; }
    .sublist-controls button {
      padding: 5px !important; } }
@media only screen and (max-width: 946px) {
  .sublist-container:not(:first-child) {
    margin-top: 50px; } }

/*# sourceMappingURL=style.css.map */
