.sublists-grid
  padding: 25px
  margin-top: 50px
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-items: flex-start

.sublist-controls
  padding: 25px

.sublist-container
  padding-top: 25px
  box-shadow: 0 0 2px 1px #eee



@media only screen and (max-width: 560px)
  .sublists-grid
    padding: 10px
    margin-top: 35px

  .sublist-controls
    padding: 5px
    button
      padding: 5px !important

@media only screen and (max-width: 946px)
  .sublist-container:not(:first-child)
    margin-top: 50px